@section menuextra {
    <li class="nav-item">
        <a class="nav-link" href="#">Menu extra 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Menu extra 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Menu extra 3</a>
    </li>
}
<h1>
    Soy la vista con más cosas
</h1>