@section menuextra {
    <li class="nav-item">
        <a class="nav-link" href="#">Extra 1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Extra 2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Extra 3</a>
    </li>
}
@model Persona

<h1>
    Soy la vista con más cosas
</h1>